{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "globalReturn":true,
    "unicodeCodePointEscapes": true,
    "templateStrings": true,
    "superInFunctions": true,
    "spread": true,
    "modules": true
  },
  "rules": {
        "semi": 2
    },
  "parser": "babel-eslint",
  "es6": true
}
